
@media(max-width :661px) {
  .nav__list{
    display: none;

  }
 nav{
   justify-content: space-around;
   align-items: center;
 }
 .m-menu-link{
   display:block;
   font-size: 3rem;
 }
 .logo{
   font-size: 1.5rem;
 }
}