#main__img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -115px;
  bottom: -30px;
}
.hid {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.content-block-questions-wrap {
  width: 300px;
  height: 200px;
  background:#fff;
}
.w50 {
  width: 50%;
  height: 100%;
}
.w50:first-child {
  width: 40%;
}
.w50:last-child {
  width: 60%;
  flex-direction: column;
}
.w50:last-child hr {
  width: 30%;
  margin-bottom: 10px;
}
.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-content-wrap {
  width: 100%;
  height: calc(100% - 54px);
}
.w50-girl-photo {
  width: 570px;
  position: absolute;
  bottom: 0;
}
.w50-header {
  width: 100%;
  height: 60px;
  text-align: center;
  font-family: 'sans-serif';
  font-size: 23px;
  color: #fff;
  margin-bottom: 50px;
}
.choice-answer {
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}
.w50-button-wrap {
  width: 100%;
  height: 50%;
  flex-direction: column;
}
.w50-button {
  width: 80%;
  height: 80px;
  margin-bottom: 10px;
  border-bottom: 1px solid #FFF;
  cursor: pointer;
}
.w50-button-fot-dot {
  width: 10%;
  height: 100%;
}
.w50-button-for-text {
  width: 90%;
  height: 100%;
  font-family: 'VDS';
  justify-content: flex-start;
  color:#fff;
}
.w50-button-for-text:hover {
  color: #fff;
}
.w50-button-fot-dot p{
  width: 20px;
  height: 20px;
  background:#fff;
  border-radius: 20px;
}
.w50-footer {
  width: 80%;
  height: 40px;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: flex-end;
}

.w50f-progress-block {
  width: 100%;
  height: 100px;
  position: relative;
  top: -55px;
}
.w50f-progress-for-around-block {
 position: relative;
 left: -150px;
  font-family: 'VDS';
  justify-content: center;
  box-sizing: border-box;
  padding: 0 0 0 40px;
  
  margin-top: 70px;
  color: #fff;
}
.w50f-progress-for-around-block span {
  color: #FFF;
}

.w50f-progress-for-around {
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 20px;
  transition: 1s;
}
.w50f-progress-for-line {
  width: 15px;
  height: 5px;
  background: red;
  transition: 1s;
}
.w50f-disable {
  background: #EBEBEB;
}
.Next-btn {
  font-family: 'arial';
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background: #FFF;
  color: #000;
  
  margin-right: 145px;
  cursor: pointer;
  display: none;
}

.w50f-enable {
  background:#00FF00;
}
.Quzzes-img-block{
  width: 500px;
  height: 350px;
}
.quzzes-img{
  width: 100%;
  height: 100%;
}
.succes-button{
  background-color: #fff;
  color: #000;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
   font-family: 'arial';
   font-size: 18px;
   text-decoration: none;
   position: relative;
   bottom: -170px
}
.succes-button:hover{
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
   0 10px 10px rgba(0, 0, 0, 0.22);
   
}
.succes-header{
  color: #fff;
  font-size: 30px;
font-family: sans-serif;
}
.quzzes-icons{
  width: 100px;
  height: 100px;
  color: #FFF;
}