



@font-face {
  font-family: 'Game of Thrones ';
  src: url('../fonts/Game\ of\ Thrones.ttf');
  
}

body{
  overflow-x:hidden;
background-color: #0D0F0E;
  box-sizing: border-box;
  
  
}


.container{
  margin:0 auto;
  max-width: 1200px;
  

}
header{
  
  font-family: 'Game of Thrones ';
  margin:0 auto;
  width: 100vw;
  height: 100vh;
  
  
}


nav{
  display:flex;
  justify-content: space-around;
}
.nav__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top:25px;
   

}
.nav__item{
  display:block;
  margin-right: 1rem;;
 
 
  list-style: none;
  align-items: center;
  text-align: center;
  
  
  

}
.logo p{
  font-size: 1.3rem;
  color: #e9e9e9;
  margin-top:10px;
  text-transform: uppercase;
  text-align: center;
}

.nav__link{
 
 display: inline-block;
 text-decoration: none;
 color: #e9e9e9;
text-transform: uppercase;
font-size: 1rem;
 
 

}
.nav__link:hover{
  color: #fff;


}
.m-menu-link{
  color: #e9e9e9;
  display: none;
  
}
.m-menu{
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  font-size: 3rem;
  line-height: 4rem;
  background-color: black;
  z-index: 999;
display: flex;
flex-direction: column;
justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition:0.2s;

}

.m-menu a{
  font-size: 1.5rem;
}
.close-menu{
  font-size: 3rem;
  position: fixed;
  right: 50px;
  top: 25px;
  margin: 0;
  color: #e9e9e9;
  
}
/* /////////////////////////////////////////////////////////////////////////////////////////second__section-styles */
.Characters{
  background-color:#0D0F0E;
  height: 110px;

}
h3{
  color: #fff;
}
.blocks{
  display: flex;
  justify-content: space-between;
  margin: 50px 0 50px 0 ;
  flex-wrap: wrap;
}

.block{
  width: 350px;
  height: 250px;
  border-radius:10px;
  
}
.img__block{
  border-radius:10px;
  width: 100%;
  height: 100%;
}
.nav__characters a  {
  font-size: 0.6rem;
  

}
.second__logo {
  font-size: 0.6rem;
  
  color: #e9e9e9;
  margin-top:30px;
  
  text-align: center;

}
section {
background-color: #0E0E0E;
width: 100%;
height: auto;
text-align: center;
align-items: center;

}
.content__title{
  color: #fff;
  font-weight: 300;
  font-style: normal;
  font-size: 34px;
  line-height: 1.2em;
  letter-spacing: .14em;
  
  color: #fff;
  margin-bottom: 50px;
}
.block__img{
  border-radius: 15px;
  margin :0 auto;
  width: 500px;
  height: 400px;
  
  margin-bottom: 50px;
  
}
.img{
    border-radius: 15px;
  width: 100%;
  height: 100%;
}
.main-content__text{
  font-family:sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.8em;
  letter-spacing: .06em;
      color:#fff;
}





.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider .prev,
.slider .next {
  cursor: pointer;
  position: fixed;
  bottom: 50%;

  width: auto;
  
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  
}


.slider .next {
  

  right: 15px;
  
}
.prev{
  left: 15px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}






/* Анимация слайдов */

.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
footer{
  width: 100%;
  height: 50px;
  background-color:#0D0F0E;
}

.header{
  background-color: #0D0F0E;
  font-family: 'Game of Thrones ';
  margin:0 auto;
  width: 100vw;
  height: auto;
}


/* news block*/
.news-block{
  width: 42rem;
  height: 35rem;
  background-color: #E5E5E5;
  color: black;
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 35px;
  border-radius:15px;
  
}
.black-screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  
  background: rgba(0, 0, 0, 0.9);
  
  display: none;
  
  transition: .7s all;
}

.news-text-block{
  margin-top:50px;
}
.news-text2{
  font-family: sans-serif;
  width: 800px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.news-link{
  text-decoration: none;
}
.second-news-block{
  width: 350px;
  height: 550px;
  background-color: #E5E5E5;
   font-family: sans-serif;
  border-radius: 15px;
  overflow-Y: scroll;
  margin-top: 35px;
  padding: 20px;
}
.second-news-block-img{
  width: 300px;
  height: 250px;
}
.block-img{
  width: 34rem;
  height: 21rem;
}
.News-img{
  width: 100%;
  height: 100%;
}
.content-wrapper{
  padding-top:100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.twitter-block{
  margin-top:35px;
}
.news-block__title{
text-transform: uppercase;
font-size: 1rem;
font-family: 'Game of Thrones ';
}


                            /*Category*/
  
.category{

height: 100vh;
 
}
.card-wrapper{
padding-top:100px;
  display: flex;
  justify-content: center;
   align-items: center;
   
     
     flex-wrap: wrap;
}
.card{
  perspective: 1000px;
  transform-style: preserve-3d;
  margin-right: 50px;

}
.card-item{
  
 
  width: 180px;
  height: 420px;
  transition:0.5s;
    position:relative;

 
}
.card-img{
  width: 100%;
  height: 100%;
  
}
.card-1 {
  perspective: 1000px;
  transform-style: preserve-3d;
  

}

.card-item-1 {


  transition: 0.2s;

}

.card-text{
  position:absolute;
  text-decoration: none;
  top:80px;
right: 50px;
z-index: -1;
  
  transition:all 1s;
  color: #fff;
  font-size: 20px;
  text-align: center;
   font-family: 'Game of Thrones ';
   
  
}

.card-item:hover .card-text {
  top: -80px;

}

                       /* quzzes*/
.quzzes-header{
  background: url("../img/stretched-1366-768-637668\ \(1\).jpg")no-repeat;
  background-size: cover;
  
}
.quzzes-link{
  color:#000;
  
}
.logo-quzzes p{
  color: #000;
  
}
.quiz-title{
  color: #000;
   font-family: 'Game of Thrones ';
   text-align: center;
   margin-top:150px;
   font-size: 30px;
   margin-bottom: 150px;
   

}
.quiz-button{
  margin-left: 500px;
  
  text-decoration: none;
  font-family: 'Game of Thrones ';
color: #fff;
background-color: #000;
padding:15px 25px 15px 25px; 
border-radius: 15px;



}
.quiz-button:hover{
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
   0 10px 10px rgba(0, 0, 0, 0.22);
   background-color: #0D0F0E;
}
.questions-section{
  width: 100%;
  height: 100vh;
  background-color: #0D0F0E;
}

                                      /*seasons*/
.seasons-img-block {
  max-width:188px ;
  max-height: 276px;
      -webkit-border-radius: 2px;
      -khtml-border-radius: 2px;
      -moz-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      background: #0E0E0E;
      border: 1px solid gray;
      margin-bottom: 20px;
      min-height: 70px;
      padding: 5px;
      
      
          
          

}
.container-seasons{
  max-width: 800px;
  margin: 0 auto;
}
.seasons-image{
  width: 100%;
  height: 100%;
}
.seasons-content-wrapper{
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  
}
.seasons-bold-text{
  font-family:sans-serif;
      display: block;
      font-size: 0.9rem;
      
      font-weight: bold;
          color: #fff;
          font-weight: bold;
          
          display: flex;
          position: relative;
          left: -50px;
          
}
.seasons-text{

  font-size: 0.8rem;
  color: #e9e9e9;
  font-family: sans-serif,arial;
}
.seasons-title{
  color:#fff;
  margin-top: 25px;
  font-family: sans-serif;
}
.about-seasons{
  color:#fff;
  font-family: sans-serif;
}
#video12{
  width: 560px;
  height: 315px;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
}                                      


#video12 iframe {
  
  width: 100%;
  height: 100%;
}



#video12 img {
  height: calc(100% - (5px + 1px)*2 - 10px);
  margin: 0 5px 0 0;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  opacity: .7;
}

#video12 img:hover {
  opacity: 1;
  cursor: pointer;
}

#video12 img:focus {
  opacity: .2;
}
